/* Styles for the form container */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h2 {
    color: #1e76c2;
}

form {
    width: 500px; /* Set the width for the form */
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center; /* Center-align the form contents */
}

/* Style for labels and input fields */
label {
    display: block;
    text-align: center; /* Center-align the labels */
    margin: 10px 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left; /* Left-align the text within the input fields */
}

/* Styles for radio buttons and their labels */
input[type="radio"] {
    margin-right: 5px;
}

/* Style for the submit button */
button[type="button"] {
    background-color: #1e76c2;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

/* Change button color on hover */
button[type="button"]:hover {
    background-color: #1568b8;
}
